html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Reset */



/* Start of Custom Styles */
body {
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif; 
	-webkit-font-smoothing: antialiased;
}
div {
	border: 1px solid Chocolate;
	display: block;
}
.content {
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
}
/* Navigation Section */
.top-navigation {
	background-color: #FFFFFF;
	position: fixed;
	width: 100%;
	z-index: 9999;
}
.top-navigation > .content {
	margin: 0 auto;
	width: 970px;
	height: 70px;
}
.top-navigation > .content > .logo {
	height: 70px;
}
.top-navigation > .content > .links {
	float: right;
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
	margin-top: 25px;
}
.top-navigation > .content > .links > li {
	display: inline-block;
	margin-left: 25px;
}
.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}
.introduction {
	background-image: url('../images/first-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	text-align: center;
}
.introduction h1, .introduction h3 {
	color: white;
	font-weight: 300;
}
.introduction h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}
.introduction h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}
.introduction .buttons {
	color: white;
	margin-top: 1.563rem;
}
.big-button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
	width: 150px;
	background-color: #f15a29;
	font-size: 1.125rem;
	color: white;
	display: block; 
	margin-top: 10px;
	margin-bottom: 10px; 
	margin-left: auto;
	margin-right: auto;
}
.big-button:hover {
	background-color: #d9400e;
	border-color: #cf3d0e;
	cursor: pointer;
}
.cases {
	background-color: #FFFFFF;
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.cases h2, .cases h3 {
	color: black;
	font-weight: 300;
}
.cases h2 {	
	margin-top: 17.5rem;
	margin-bottom: 2.5rem;
	font-size: 2.75rem;
}
.cases h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}
.cases > .content {
	margin-bottom: 8.5rem;
}
.cases > .content > .icons > li {
	display: inline-block;
	width: 31%;
	margin-left: 15px;
}
.cases > .content > .icons > li > div > img {
	/*width: 127px;*/
	width: 50%;
}
.social {
	text-align: center;
}
.social > .content > hr {
	width: 60%;
}
.social h3 {
	color: black;
	font-weight: 300;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	font-size: 1.0rem;
}
.social .fa-twitter {
	color: #55acee;
}
.social .fa-facebook {
	color: #4c66a4;
}
.social .fa-instagram {
	color: #3f729b;
}
.social .icons > li {
	border-radius: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	display: inline-block;
	margin: 1.25rem 5px;
	border: 1px solid #eaebec;
	padding: 0.625rem 0;
	text-align: center;
}